html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header-nav {
  list-style-type: none;
  color: white;
  font-size: 18px;
}

.top {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}


#ny {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

#footer-broadway {
  font-size: 11px;
  display: inline;
}

.footer-nav a {
  color: white;
  display: inline;
}
