html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

h1,
.top {
  color: white;
  background-image: url("./resources/images/the-flatiron-building.png");
}
